KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
KERNEL_ARCH_ASFLAGS=--32

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/idt.o \
$(ARCHDIR)/isr_table.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/kernel_lib.o \
$(ARCHDIR)/paging.o \
